body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.sidenav {
    height: 100%;
    width: 300px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    overflow-x: hidden;
    padding: 20px;
    margin-top: 55px;
}

.main {
    margin-left: 300px;
    padding: 0px 10px;
}

.btn {
    font-size: 14px;
}
